@page "/R_Articulos"
@page "/R_Articulos/{ArticuloId:int}"

@inject NotificationService notificacion
@inject ArticulosBLL articulosBll

<EditForm Model="articulo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card-header">
            <h3>Registro de Clientes</h3>
        </div>
        <div class="card-body">
            <form>
                @*ArticuloId*@
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>ArticuloId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="articulo.ArticuloId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text"
                                        @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Nombre*@
                <div class="form-group">
                    <label>Nombre</label>
                    <InputText @bind-Value="articulo.Nombre" class="form-control" />
                    <ValidationMessage For="@(() => articulo.Nombre)" />
                </div>
                @*Referencia*@
                <div class="form-group">
                    <label>Apellidos</label>
                    <InputText @bind-Value="articulo.Referencia" class="form-control" />
                    <ValidationMessage For="@(() => articulo.Referencia)" />
                </div>
                @*Costo*@
                <div class="form-group">
                    <label>Costo</label>
                    <InputNumber @bind-Value="articulo.Costo" class="form-control" />
                    <ValidationMessage For="@(() => articulo.Costo)" />
                </div>
                @*Precio*@
                <div class="form-group">
                    <label>Precio</label>
                    <InputNumber @bind-Value="articulo.Precio" class="form-control" />
                    <ValidationMessage For="@(() => articulo.Precio)" />
                </div>
                @*SuplidorId*@
                <div class="form-group">
                    <label>SuplidorId</label>
                    <InputNumber @bind-Value="articulo.SuplidorId" class="form-control" />
                    <ValidationMessage For="@(() => articulo.SuplidorId)" />
                </div>
            </form>
        </div>
    <div class="card-footer">
        <div class="form-group text-center" display: inline-block>
            <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo"><i class="oi oi-file" />Nuevo</button>
            <button type="submit" class="btn btn-lg btn-success"><i class="oi oi-document" />Guardar</button>
            <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar"><i class="oi oi-trash" />Eliminar</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int ArticuloId { get; set; }
    public Articulos articulo { get; set; } = new Articulos();

    public List<Articulos> lista { get; set; } = new List<Articulos>();

    protected override void OnInitialized()
    {
        if (ArticuloId > 0)
        {
            this.articulo.ArticuloId = ArticuloId;
            this.Buscar();
        }
    }
    private void Buscar()
    {
        if (articulo.ArticuloId > 0)
        {
            var encontrado = articulosBll.Buscar(articulo.ArticuloId);

            if (encontrado != null)
                this.articulo = encontrado;
        }
    }
    public void Guardar()
    {

        bool guardo;

        guardo = articulosBll.Guardar(articulo);
        if (guardo)
        {
            //notificacion.ShowNotification("Guardado correctamente.");
            Nuevo();
        }
        else
        {
            //notificacion.ShowNotification("No fue guardado correctamente", NotificationSeverity.Error);
        }

    }
    public void Nuevo()
    {
        articulo = new Articulos();
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = articulosBll.Eliminar(articulo);

        if (elimino)
        {
            //notificacion.ShowNotification("Eliminado correctamente.", NotificationSeverity.Error);
            Nuevo();
        }
        else
        {
            //notificacion.ShowNotification("No se pudo eliminar correctamente.", NotificationSeverity.Warning);
        }
    }
}